<li class="game-content-list-item">
    <figure class="game-content-list-item-pic"> 
        <img class="game-content-list-item-pic-img" src="{{photo}}" />
    </figure>

    <footer class="game-content-list-item-footer">
        <div class="game-content-list-item-footer-container">
            <div class="game-content-list-item-controllers">
                <button title="Who am I?" class="game-content-list-item-button game-content-list-item-button-show"><img src="assets/img/pencil.svg" /></button>
                <button title="Character Details" class="game-content-list-item-button game-content-list-item-button-response"><img src="assets/img/info.svg" /></button>
            </div>
            <div class="game-content-list-item-name">
                <figure title="Back" class="game-content-list-item-name-back">
                    <img class="game-content-list-item-name-back-img" src="assets/img/slide-left.svg" />
                </figure>
                <input type="text" class="game-content-list-item-name-input" />
                <button title="Send Response" class="game-content-list-item-name-send"><img src="assets/img/send.svg" /></button>
            </div>
        </div>
    </footer>
</li>

<!-- 
  {click}="showInput()"
  {click}="this.showDetail"
  {click}="backInput()"
  {keyup}={getName()}
  {click}="confirmName()"
-->