<section class="home">
  <app-main-menu></app-main-menu>
  <header class="home-header">
      <img class="home-mainImg" src="assets/img/dart_white.svg" />
      <h1 class="home-title">StarQuiz!</h1>
      <p class="home-txt">Play now and test your knowledge in Star Wars</p>
      <a routerLink="/game" class="home-start" routerLinkActive="active">Start</a>
      
      <div class="home-goHow">
          <p class="home-goHow-txt">How to play.</p>
          <img (click)="scrollPage()" class="home-goHow-down" src="assets/img/down-arrow.svg" />
      </div>
  </header>
  <section class="home-how">
      <div class="container">
          <h2 class="home-how-title">How to play</h2>
          <div>
              <p>The objective of this game is to hit the maximum number of personangens of the Star Wars saga. There will be several cards with the character's photo and you should write the name of this character.</p>
              <p>On each card there will be two buttons <img src="assets/img/pencil.svg" /> <img src="assets/img/info.svg" />, the first is to appear the field to enter the name of the character and the second to see details of the character.</p>
              <p>You will have a maximum of two minutes to try to hit as many characters as possible. The counter will be at the top right of your screen along with the score.</p>
              <p>For each successful character without looking at the details you will gain 10 points, if you look at the details and hit you you will receive 5 points. Errors will not affect the score. If you hit the name of the character the card will turn green otherwise it will turn red.</p>
              <p>At the end of the two minutes you will be able to send your score and will be in the ranking.</p>
          </div>
          <footer class="footer">Made by &copy; Jefferson Barbosa</footer>
      </div>
  </section>
  <div class="home-overlay"></div>
  <video class="home-clip" muted onloadedmetadata="this.muted = true" loop autoPlay={true} poster="assets/img/bg/sw2.jpg" src="assets/videos/clip.mp4"></video>
</section>
